.video-state {
  padding-bottom: 40px;

  .no-videos {
    text-align: center;
  }

  @media (min-width: $screen-md) {
    h1.page-header {
      display: inline-block;
    }
  }

  @media (max-width: $screen-md) {
    .pull-right {
      float: none;
      width: 100%;
    }
  }
}
