.video-state {
  padding-bottom: 40px;

  .no-videos {
    text-align: center;
  }

  @media (min-width: $screen-md) {
    h1.page-header {
      display: inline-block;
    }
  }

  @media (max-width: $screen-md) {
    .pull-right {
      float: none;
      width: 100%;
    }
  }

  .searchform {
    position: relative;
    margin-bottom: 20px;

    .searchfield {
      -webkit-transition: all 300ms ease-in-out;
      -moz-transition: all 300ms ease-in-out;
      -o-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      margin-bottom: 30px;
      padding-left: 50px;
      font-weight: 300;
      box-shadow: none;
      border-width: 1px;
      width: 300px;
      color: #777;
      background: #fff;
      border-radius: 20px;
      box-shadow: none;
      border: 1px solid #ddd;
      margin-top: 42px;

      &.pristine, &:focus, &.has-query {
        width: 100%;
        background: #f2f2f2;
        border: 1px solid #ddd;
      }

      @media (max-width: $screen-md) {
        width: 100% !important;
        background: #f2f2f2;
        border: 1px solid #ddd;
        margin-top: 10px;
      }
    }

    .searchicon {
      font-size: 20px;
      position: absolute;
      left: 20px;
      top: 11px;
      color: #777;
    }
  }
}
