.video-state  {
	padding-bottom: 40px;

	.searchform {
		position: relative;

		.searchfield {
			margin-top: 25px;
			margin-bottom: 20px;
			width: 100%;
			padding-left: 50px;
			font-weight: 300;
			box-shadow: none;
			border-width: 1px;
			border-color: #ccc !important;
			border-left-color: $primary-color !important;
			box-shadow: -2px 0 0 $primary-color;
			border-radius: 0 4px 4px 0;
			color: #666;
		}

		.searchicon {
			font-size: 20px;
			position: absolute;
			left: 20px;
			top: 11px;
			color: #aaa;
		}
	}
}
