<div class="edit-state">

    <div class="row">
        <div class="col-lg-12">

            <form name="editform" novalidate>
                <h2>Video title</h2>
                <input type="text" ng-model="video.title" required>

                <h2>Video description</h2>
                <textarea ng-model="video.description" required></textarea>

                <h2>Add tags to your video</h2>
                <div class="tags-wrapper">
                    <!-- <input type="text" class="search-tags" placeholder="Filter videos by tags .."> -->
                    <input type="hidden" class="search" ng-change="filter()" ui-select2="select2Options" ng-model="video.tags" placeholder="Add tags to the video..">
                </div>

                <button class="button" ng-click="cancel()">Cancel</button>
                <button class="button" ng-click="saveChanges(video)">Save changes</button>
            </form>

        </div>
    </div>

</div>