<div class="edit-state modal-view">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()">&times;</button>
                <h4 class="modal-title">Edit video</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <media-player-component ng-if="video" video="video"></media-player-component>

                        <label>Video title</label>
                        <input type="text" class="form-control" ng-model="video.title" required>

                        <label>Video description</label>
                        <textarea class="form-control" ng-model="video.description" required></textarea>

                        <label>Add tags to your video</label>

                        <div class="tags-wrapper">
                            <input type="hidden" class="search" ng-change="filter()" ui-select2="select2Options"
                                   ng-model="video.tags" placeholder="Add tags to the video..">
                        </div>

                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button class="btn btn-default" ng-click="saveChanges(video)">Save changes</button>
            </div>

        </div>
    </div>

    <slideout-backdrop-component></slideout-backdrop-component>

</div>