.cg-busy {
	text-align: center;

	p {
		background: rgba(255, 255, 255, 0.85);
		font-size: 1em !important;
		font-weight: bold !important;
		padding-top: 60px !important;
		padding-bottom: 60px !important;
	}

	img {
		margin: 20px 0;
		width: 20px;
		height: auto;
		margin-right: 10px;
	}
}
