$icon-font-path: "/assets/fonts/";

$font-family-sans-serif:  "Open Sans", sans-serif !default;
$font-size-base:          13px !default;
$font-size-large:         $font-size-base * 1.25 !default; // 16px
$font-size-larger:        $font-size-base + 1;    // 14px
$font-size-small:         $font-size-base * 0.85 !default; // 12px
$font-size-mini:          $font-size-base * 0.75 !default; // 11px
$font-size-index:         $font-size-base * 0.7 !default; //10px
$line-height-base:        20px !default;
$line-height-computed:    $line-height-base !default; // ~20px
$font-weight-base:        300;

$iconSpritePath:          "../assets/images/glyphicons-halflings.png" !default;
$iconWhiteSpritePath:     "../assets/images/glyphicons-halflings-white.png" !default;

$sidebar-width: 80px;

//$right-panel-width: 230px;
$right-panel-width: 0px;

$sidebar-background: #1c1c1f;

$primary-color: #00aaad;

// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;