html {
  overflow-y: scroll;
  height: 100%;
}


body {
  background: #fff;
  color: #555;
  font-family: "Roboto";
  font-weight: 300;
  height: 100%;

  &.scroll-lock-enabled {
    overflow-y: hidden;
  }

  &.dark {
    background-color: #222;
  }
}

.btn-custom {
  background: #444 !important;
  color: #fff !important;
  border: none;
  outline: none;
  box-shadow: none;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 6px;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;

  &[disabled] {
    opacity: 0.2;
    cursor: not-allowed;
  }

  &:hover {
    background: #222 !important;
  }
}

a {
  color: $primary-color;
}

hr {
  border-top: 1px solid #333;
}

#root {
  position: relative; //View will be positioned absolute during animations
  height: 100%;
  overflow:auto;
}

#app {
  position: relative; //View will be positioned absolute during animations
  height: 100%;

  > div[ng-view], > div[ui-view] {
    margin: {
      right: $right-panel-width;
      left: $sidebar-width;
    }

    @media (max-width: 768px) {
      margin: 0;
    }

    > .container {
      width: auto !important;
      max-width: 1170px;
    }
  }
}

// Fix fullscreen video
:-webkit-full-screen-ancestor {
  #app {
    div[ng-view], > div[ui-view] {
      .container {
        display: inline !important;
      }
    }
  }
}

hr {
  border-top: 3px solid #ddd;
}

.page-header {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 3em;
  color: #444;
  border: none;
}

.no-left-margin {
  margin-left: 0 !important;
}

[ng-click], [ui-sref] {
  cursor: pointer;
}

.container-xs-height {
  display: table;
  padding-left: 0px;
  padding-right: 0px;
}

.row-xs-height {
  display: table-row;
}

.col-xs-height {
  display: table-cell;
  float: none;
}

@media (min-width: 768px) {
  .container-sm-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row-sm-height {
    display: table-row;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
  }
}

@media (min-width: 992px) {
  .container-md-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row-md-height {
    display: table-row;
  }
  .col-md-height {
    display: table-cell;
    float: none;
  }
}

@media (min-width: 1200px) {
  .container-lg-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row-lg-height {
    display: table-row;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
  }
}

/* vertical alignment styles */
.col-top {
  vertical-align: top;
}

.col-middle {
  vertical-align: middle;
}

.col-bottom {
  vertical-align: bottom;
}