// TODO: Shoudn't need to include config and neat-helpers here - inheritance bug?
@import 'config';
@import 'neat/app/assets/stylesheets/neat-helpers';

/* --------------------------------
	General
-------------------------------- */
* {
  box-sizing: border-box !important;
  font-family: 'Roboto', sans-serif;
}

.typekit-badge {
	display: none !important;
}

h1.page-header {
	font-family: "museo-slab", serif;
	margin: 0;
	font-size: 25px;
	text-transform: uppercase;
	color: $primary-color;
	font-weight: 700;

	small {
		// font-family: "adobe-garamond-pro";
		display: block;
		text-transform: none;
		margin-bottom: 18px;
		color: #666;
		font-size: 20px;
		// font-weight: normal;
	}
}

.hidden-on-small {
	display: block;

	@include media($tablet) {
		display: none;
	}
}

.hidden-on-large {
	display: none;

	@include media($tablet) {
		display: block;
	}
}

#root {
	position: relative;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: $body-background;
}

a {
  color: $green;
  cursor: pointer;
}

button {
  cursor: pointer;

  &:focus {
	outline: none;
  }

  &:hover {
	i {
	  color: $primary-color;
	}
  }
} 

.button {
	background: $green;
	border: none;
	font-size: 14px;
	padding: 12px 15px;
	font-weight: bold;
	color: #fff;
}

.popover {
  font-size: 1em;
  border-radius: 0;

  h2 {
	margin: 0;
	padding: 0;
	font-size: 1em;
  }

  p {
	margin: 0 0 5px 0;
	padding: 0;
	font-size: 0.8em;
  }
}


/* --------------------------------
	Wrappers
-------------------------------- */
.content-wrapper {
  @include clearfix;
  padding-left: $leftnav-width + 5;
  // margin-right: $rightnav-width;
  padding-bottom: $content-gutter;
  padding-top: $content-gutter / 2;
  color: $dark-color;

  @include media($tablet) {
	padding-left: 0;
  }

  @include media($phone) {
	padding-left: 0;
  }

  hr {
	@include span-columns(12);
	width: 100%;
	display: block;
	margin: $content-gutter 0 0 0;
	height: 0px;
	border: none;
	border-top: 5px solid #333;
	outline: none;

  }

  h2 {
	padding: 0 ($content-gutter / 2);
	margin: $content-gutter 0 ($content-gutter / 2) ($content-gutter / 2);
	@include span-columns(12);
	font-size: 0.8em;
	text-transform: uppercase;

	&.first {
	  margin-top: -30px;
	}

	small {
	  opacity: 0.4;
	  margin-left: 5px;
	}
  }
}

