[ui-view="modal"]
{
  // position: relative;

  .modal-view
  {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 999;

    padding: {
      left: $sidebar-width;
    }

    .modal-dialog
    {
      margin: auto;
    }

    @media (max-width: 768px) {
      padding: 0;
      // top: 68px;
    }

  }
}