@import 'font';
@import 'config';
@import 'bourbon/app/assets/stylesheets/bourbon';
@import 'neat/app/assets/stylesheets/neat';
@import 'angular-xeditable';
@import 'globals';
@import 'site-loading';
@import 'loading-bar';
@import 'angular-busy';
@import 'components';
@import 'pages';
@import 'animations';


/* --------------------------------
    Responsive height
-------------------------------- */
@include media($smalldesktop) {
  aside {
    &.leftnav {
      .mini-player {
        display: none;
      }
    }

    &.rightnav {
      display: none;
    }
  }

  .content-wrapper {
    margin-right: 0;

    header.actionbar {
      right: 0;
    }

    .videos {
      .video-wrapper {
        @include span-columns(3); 
        padding: $content-gutter / 2;

        &:nth-child(4) {
          @include omega;
        }

        &:last-child {
          @include omega;
        }

        .video {
          
        }
      }
    }   
  }
}


/* --------------------------------
    Responsive tablet
-------------------------------- */
@include media($tablet) {
	aside {
		position: relative;

		&.leftnav {
			position: relative;
			height: 60px;
			overflow: hidden;
			width: 100%;
			padding-bottom: 0;

			h1 {
				opacity: 0.7;
				margin-left: -3px;
				border: none;
				padding-top: 0;

				small {
					border: none;
					padding-bottom: 0;
				}
			}

			.mini-player {
				display: none;
			}
		}
	}

	.content-wrapper {
		margin-left: 0;

		header.actionbar {
			button {
					
			}
		}

		.videos {
			.video-wrapper {
				@include span-columns(2);	
				padding: $content-gutter / 2;

				&:nth-child(4) {
					@include omega;
				}

				&:last-child {
					@include omega;
				}

				.video {
					
				}
			}
		}		
	}
}


/* --------------------------------
    Responsive phone
-------------------------------- */
@include media($phone) {
	aside {
		position: relative;

		&.leftnav {
			position: relative;
			height: 60px;
			overflow: hidden;
			width: 100%;
			padding-bottom: 0;

			.mini-player {
				display: none;
			}
		}
	}

	.content-wrapper {
		margin-left: 0;

		header.actionbar {
			button {
					
			}
		}

		.videos {
			.video-wrapper {
				@include span-columns(4);	
				padding: $content-gutter / 2;

				&:nth-child(4) {
					@include omega;
				}

				&:last-child {
					@include omega;
				}

				.video {
					
				}
			}
		}		
	}
}