.admin-page {
  @include clearfix;
  width: 100%;
  padding: ($content-gutter/2) ($content-gutter);

  .tabs-wrapper {
    @include row;
    width: 100%;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;

      li {
        margin: 0;
        padding: 0;
      }

      &.tabs-navigation {
        li {
          display: inline-block;
          padding: ($content-gutter/2) $content-gutter;
          cursor: pointer;
          background: #ddd;
          margin-right: 3px;
          font-size: 12px;
          font-weight: 700;
          text-transform: uppercase;

          &.active {
            background: $primary-color;
            border-color: $primary-color;
            color: #fff;
          }
        }
      }
    }

    #nested-view {
      position: relative;
      padding: $content-gutter;
      width: 100%;
      background: #fff;

      h2 {
        margin: 0;
        padding: 0;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 5px;

        @include media($tablet) {
          &:not(:first-child) {
            padding-top: 30px;
            border-top: 1px solid #ccc;
          }
        }
      }

      button {
        padding: 5px 10px;
        border: 1px solid #ccc;
        background: #eee;
        box-shadow: none;
        outline: none;
      }

      ul.tags {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
          background: $green;
          color: #fff;
          width: auto !important;
          font-size: 13px;
          padding: 7px 10px 7px 10px;
          margin-right: 5px;
          margin-top: 2px;
          margin-bottom: 2px;

          @include media($tablet) {
            padding: 0;
            margin: 0;
            background: none;
            color: #222;

            &:not(:last-child):after {
              content: ", ";
            }
          }

          .close {
            color: $dark-color;
            padding: 5px 10px 5px 5px;
            text-decoration: none;

            &:hover {
              color: #fff;
            }
          }
        }
      }

      table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 30px;

        @include media($tablet) {
          margin-bottom: 0px;
        }

        tr {
          @include media($tablet) {
            width: 100% !important;
            border: none !important;
            display: block;
            margin-bottom: 20px !important;
          }

          td, th {
            padding: 7px;

            @include media($tablet) {
              width: 100% !important;
              border: none !important;
              display: block;
              padding: 2px 0;

              span.hidden-on-large {
                display: inline-block;
                font-weight: bold;
                margin-right: 5px;
              }
            }
          }
        }

        thead {
          tr {
            th {
              border-bottom: 2px solid #777;
              border-left: 1px solid #ddd;

              &:first-child {
                border-left: none;
              }
            }
          }
        }

        tbody {
          tr {
            border-top: 1px solid #ddd;

            &:first-child {
              border-top: none;
            }

            &:hover {
              background: #f7f7f7;

              @include media($tablet) {
                background: none;
              }
            }

            td {
              border-left: 1px solid #ddd;

              &:first-child {
                border-left: none;
              }
            }
          }
        }
      }
    }
  }
}
