.administrate-users-state  {
	.invite {
		margin-bottom: 40px;

		.btn {
			height: 34px;
		}

		.form-control {
			outline: none !important;
			border-color: #ddd;
			box-shadow: none;
		}
	}

	.search-user {
		position: relative;

		.searchicon {
			position: absolute;
			top: 15px;
			left: 15px;
		}

		.form-control {
			padding-left: 35px;
		}
	}
}
