<div class="administrate-users-state">

    <div class="row">
        <div class="col-lg-12">


            <h2>Invite user</h2>
            <p>Invite new users to the platform by email.</p>
            <div class="invite">
                <form novalidate name="newUserForm" class="form-inline">
                    <div class="row">
                        <div class="col-lg-6">
                            <input class="form-control" type="email" name="username" ng-model="newUser.email" placeholder="User email .." required/>
                        </div>
                        <button class="btn btn-custom" ng-click="saveUser(newUser)" ng-disabled="newUserForm.username.$invalid">Send invite</button>
                    </div>
                </form>
            </div>

            <h2>All users</h2>
            <p>Manage all invited users.</p>
            <table class="table table-hover">
                <thead class="hidden-on-small">
                <tr>
                    <th>Email</th>
                    <th>Account activated</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in users">
                    <td>{{user.email}}</td>
                    <td>Yes</td>
                    <td width="300">
                        <button class="btn btn-custom">Reset password</button>
                        <button class="btn btn-custom" ng-click="deleteUser(user)">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>

</div>