<div class="toggle-wrapper navigation-wrapper">

    <ul class="navigation">
        <li ui-sref-active="active"><a ui-sref="index">All videos</a></li>
        <li ui-sref-active="active"><a ui-sref="favourites">Your favourites</a></li>
        <li ui-sref-active="active"><a ui-sref="agenda">NDC 2014 Agenda</a></li>
    </ul>

    <h2>Search</h2>
    <input type="text" class="search" placeholder="Add tags to filter videos ..">

    <ul class="tags">
        <li>Angular <a href="#" class="close">&times;</a></li>
        <li>Firebase <a href="#" class="close">&times;</a></li>
    </ul>
</div>