.right-panel-component {
  position: fixed;
  right: 0;
  top: 0;
  overflow: hidden;
  background: $sidebar-background;
  width: $right-panel-width;
  height: 100%;
  z-index: 10;
  padding: {
    left: 10px;
    right: 10px;
  }

  @media (max-width: $screen-sm) {
    width: 100% !important;
    left: 0 !important;
  }

  .wrapper {
    height: 50%;
    margin: 0;
  }

  .bottom-fixed {
    border-top: 2px solid #444;
    padding-top: 15px;
    height: 50%;
    overflow-y: auto;
  }

  h4 {
    font-weight: 700;
    font-size: 14px;
  }

  p {
    font-size: 12px;
    line-height: 1em;
  }
}
