.logout-sidebar-item-component {

	border-top: 1px solid #333;
  padding-top: 20px;

  @media (max-width: 768px) {
    display: inline-block;
    border: none;
    padding: 10px;
    margin: 0 5px;
  }

  img.profile-picture
  {
    margin-bottom: 10px;
  }

  span {
    font-size: 24px;
    margin-bottom: 6px;
    color: #ddd;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

}
