<div class="toggle-wrapper navigation-wrapper" ng-controller="navbarNavigationPanelCtrl">

    <ul class="navigation">
        <li ui-sref-active="active"><a ui-sref="index">All videos</a></li>
        <!-- <li ui-sref-active="active"><a ui-sref="favourites">Your favourites</a></li> -->
        <li ui-sref-active="active"><a ui-sref="agenda">NDC 2014 Agenda</a></li>
        <li ui-sref-active="active" ng-if="User.is('administrator')"><a ui-sref="admin">Admin</a></li>
    </ul>

    <!-- <h2>Search by subject</h2>
    <input type="hidden" class="search" ui-select2="select2Options" ng-model="tags" placeholder="Add tags to filter videos .."> -->
</div>