<div class="navbar-mini-player-component">
    <div class="mini-player">
        <button class="fullscreen-trigger has-tooltip" data-toggle="tooltip" data-placement="left" title="Fullscreen"><i class="fa fa-expand"></i></button>
        <div class="video"><img src="assets/images/video-placeholder.png" alt=""></div>
        <div class="controls">
            <button class="has-tooltip" data-toggle="tooltip" data-placement="top" title="From the start"><i class="fa fa-step-backward"></i></button>
            <button class="play-pause-button has-tooltip" data-toggle="tooltip" data-placement="top" title="Start"><i class="fa fa-play"></i></button>
            <button class="has-tooltip" data-toggle="tooltip" data-placement="top" title="Next video"><i class="fa fa-step-forward"></i></button>
        </div>
    </div>
</div>