<ul class="pagination paginator-component" ng-class="{'visibility-hidden': paginator.pages.length==1}">
    <li ng-class="{disabled:!paginator.hasPrevious()}"><a ng-click="paginator.previous()" ng-disabled="!paginator.hasPrevious()">Previous page</a></li>

    <li ng-repeat="page in paginator.pages" ng-class="{active: (paginator.getCurrentPageNumber()==$index+1)}">
        <a ng-click="paginator.setPage($index+1)">{{$index+1}}</a>
    </li>

    <li ng-show="paginator.pages.length > 1" ng-class="{disabled:!paginator.hasNext()}"><a ng-click="paginator.next()" ng-disabled="!paginator.hasNext()">Next page</a></li>
</ul>