.sidebar-component {
  $logo-height: 60px;
  $sticky-footer-height: 100px;

  position: fixed;
  left: 0;
  top: 0;
  width: $sidebar-width;
  height: 100%;
  overflow: hidden;
  background: $sidebar-background;
  z-index: 2;

  @media (max-width: $screen-sm) {
    position: static;
    width: 100%;
    height: auto;
    overflow: auto;
    text-align: center;
    padding-bottom: 10px;
    @include transition(height 500ms ease-out);

    &.closed {
      height: 68px;
      overflow-y: hidden;
    }
  }

  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 0;
    outline: none;
    box-shadow: none;

    .icon-bar {
      background-color: #fff;
    }
  }

  .logo {
    text-align: center;
    font-weight: 300;
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #ddd;
    font-weight: 600;

    @media (max-width: $screen-sm) {
      margin-bottom: 10px;
    }

    @media (min-width: $screen-sm) {
      margin: 0;
      padding-top: 22px;
      padding-bottom: 20px;
      background: #00aaad;
      color: #fff;
    }
  }

  .wrapper {
    min-height: 100%;
    height: auto;
    margin: 0;
    margin: {
      bottom: -$sticky-footer-height - $logo-height;
    }
    padding-bottom: $sticky-footer-height + $logo-height;

    @media (max-width: $screen-sm) {
      display: inline-block;
      margin: 0;
      padding-bottom: 0;
      min-height: 0;
    }
  }

  .bottom-fixed {
    height: $sticky-footer-height;
    text-align: center;

    @media (max-width: $screen-sm) {
      display: inline-block;
    }
  }

}
