<div class="admin-videos-partial container">

    <h2>Add videos from Vimeo</h2>
    <p>Import videos from Vimeo and add additional metadata to each element.</p>
    <table cg-busy="'vimeoAPI.getVideos'">
        <thead class="hidden-on-small">
        <tr>
            <th width="110">Vimeo ID</th>
            <th>Video name</th>
            <th width="100">Video length</th>
            <th width="140">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="video in existingVideos">
            <td><span class="hidden-on-large">Vimeo ID: </span>49274657</td> <!-- ID -->
            <td><span class="hidden-on-large">Name: </span>In The Open: Ellie Goulding - Guns And Horses</td> <!-- Video name -->
            <td><span class="hidden-on-large">Length: </span>11:36</td> <!-- Video length -->
            <td><span class="hidden-on-large">Actions: </span> <!-- Actions -->
            <button ui-sref="administrateVideos.import">Import and edit</button>
            </td>
        </tr>
        </tbody>
    </table>

    <h2>All videos</h2>
    <p>Manage imported videos.</p>
    <table cg-busy="'VideoRepository.getAll'">
        <thead class="hidden-on-small">
        <tr>
            <th width="110">Vimeo ID</th>
            <th>Video name</th>
            <th>Tags</th>
            <th width="100">Video length</th>
            <th width="140">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="video in vimeoVideos">
            <td><span class="hidden-on-large">Vimeo ID: </span>92758374</td> <!-- ID -->
            <td><span class="hidden-on-large">Name: </span>Visitor pattern in Ruby</td>
            <td><span class="hidden-on-large">Tags: </span>
                <ul class="tags">
                    <li>Nice</li>
                    <li>Awesome</li>
                    <li>Neat</li>
                </ul>
            </td>
            <td><span class="hidden-on-large">Length: </span>24:58</td>
            <td><span class="hidden-on-large">Actions: </span>
                <button>Edit</button>
                <button>Delete</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>