.login-page {
    .eyecatcher {
        background-color: #fdfdfb;
        background-repeat: no-repeat;
        background-position: center center;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
        text-align: center;
        position: relative;
        display: table; 
        margin: 0 auto;
        width: 100%;

        &.solid {
            background: #2f6193;
        }

        .inner {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            max-width: none;
            display: table-cell;   
            vertical-align: middle;  

            & > h1 {
                margin: 20px 0 40px 0;
                font-size: 40px;
                color: #fff;

                @include media($tablet) {
                    font-size: 20px;
                }

                small {
                    color: $green;
                    display: block;
                    margin-top: 5px;
                }
            }

            & > p {
                margin: 50px 0 30px 0;
                color: #fff;
                font-size: 14px;
                font-style: italic;
            }

        }
    }

    .read-more-icon {
        font-size: 25px;
        color: #fff;
    }

    .login-wrapper {
        max-width: 400px;
        margin: 0 auto;
        padding: 30px;
        background: #fff;
        border-radius: 10px;
        text-align: left;

        @include media($tablet) {
            border-radius: 0 0 0 0;
        }

        h2 {
            margin-top: 5px;
            font-size: 16px;
        }

        .button-checkbox {
            display: block;
            margin: ($content-gutter / 2) 0 $content-gutter 0;
            font-size: 12px;

            input[type="checkbox"] {
                float: left;
                margin-right: 8px;
                margin-top: 1px;
            }
        }

        .button {
            padding: 10px 19px;
            font-size: 17px;
            line-height: 1.471;
            border-radius: 6px;
            border: none;
            -webkit-font-smoothing: subpixel-antialiased;
            -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
            transition: border .25s linear, color .25s linear, background-color .25s linear;
            display: block;
            width: 100%;
            background: $green;
            color: #fff;
            font-weight: bold;
            text-decoration: none;
        }

        .forgot {
            float: right;
            color: $green;
        }

        input[type="email"],
        input[type="password"] {
            padding: 10px;
            font-size: 16px;
            background: #fff;
            box-shadow: none;
            border-radius: 5px;
            width: 100%;
            border: none;
            border: 1px solid #ccc;
            margin-bottom: 5px;

            &:focus {
                outline: none;
            }
        }
    }
}
