.video-details-state {

  .no-padding {
    padding: {
      left: 0;
      right: 0;
    }

    .add-padding {
      padding: {
        left: 15px;
        right: 15px;
      }
    }
  }

  .container {

    .panel {
      background: #fff;
      color: #222;
      border-radius: 0;
    }

  }
}
