<div class="video-details-state container">

    <div class="col-md-12">
        <button class="visible-xs visible-sm btn btn-default close-button" ng-click="close()">&times;</button>
        <media-player-component ng-if="video" video="video"></media-player-component>

        <div class="add-padding">
            <h2 once-text="video.title"></h2>
            <p once-text="video.description"></p>
            <h3 once-show="video.tags.length > 0">Tagged:</h3>
            <tag-list-component tags="video.tags"></tag-list-component>
        </div>
    </div>

</div>