<div class="video-details-state slide-out-view">

    <div class="container">
        <div class="row row-md-height">
            <div class="col-md-4 col-md-height" ng-click="close()"></div>

            <div class="col-md-8 col-md-height panel no-padding">
                <button class="visible-xs visible-sm btn btn-default close-button" ng-click="close()">&times;</button>
                <media-player-component ng-if="video" video="video"></media-player-component>

                <div class="add-padding">
                    <h2 once-text="video.title"></h2>
                    <p once-text="video.description"></p>
                    <h3 once-show="video.tags.length > 0">Tagged:</h3>
                    <tag-list-component tags="video.tags"></tag-list-component>
                </div>
            </div>

        </div>
    </div>

    <slideout-backdrop-component class=""></slideout-backdrop-component>

</div>