<div class="container text-center">
  <div class="row">
    <div class="col-md-6">
      <form class="form-signin">
        <h2 class="form-signin-heading">Sign in</h2>

        <small class="text-muted">Log in and connect your NDCVideos account with your existing id</small>
        <br><br>

        <p>
          <a class="btn btn-primary social-login-btn social-facebook" href="/auth/facebook"><i
            class="fa fa-facebook"></i></a>
          <a class="btn btn-primary social-login-btn social-linkedin" href="/auth/linkedin"><i
            class="fa fa-linkedin"></i></a>
          <a class="btn btn-primary social-login-btn social-google" href="/auth/google"><i
            class="fa fa-google-plus"></i></a>
        </p>

        <small>Or sign in with your NDCVideos account</small>
        <br><br>

        <input class="form-control login-input" placeholder="Email Address"
               type="text">
        <input class="form-control login-input-pass" placeholder="Password"
               type="password">

        <button class="btn btn-lg btn-primary btn-block btn-center" type="submit">Sign in</button>
        <br>

        <small class="create-account">Don't have a NDCVideos or social network account?
          <button class="btn btn-sm btn-default"> Sign Up</button>
        </small>

      </form>
    </div>
  </div>
</div>
