<div class="administrate-videos-state">

    <div class="row">
        <div class="col-lg-12">

            <h2>Add videos from Vimeo</h2>
            <p>Import videos from Vimeo and add additional metadata to each element.</p>
            <table class="table table-hover">
                <thead class="hidden-on-small">
                <tr>
                    <th>Video name</th>
                    <th width="140">Video length</th>
                    <th width="140">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="video in vimeoVideos" ng-class="video.isPublished ? 'is-published' : ''">
                    <td>{{video.title}}</td>
                    <td>{{video.$durationInHHMMSS}}</td>
                    <td>
                        <button ng-hide="video.isPublished" class="btn btn-custom" ui-sref="administrateVideosImport({id:video.id})">Import and edit</button>
                        <span ng-show="video.isPublished">Imported</span>
                    </td>
                </tr>
                </tbody>
            </table>

            <pagination total-items="351" items-per-page="30" ng-model="currentPage" max-size="12" previous-text="Previous page" next-text="Next page" ng-change="pageChanged()"></pagination>

            <h2>All videos</h2>
            <p>Manage imported videos.</p>
            <table class="table table-hover">
                <thead class="hidden-on-small">
                <tr>
                    <th>Video name</th>
                    <th width="140">Video length</th>
                    <th width="140">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="video in existingVideos">
                    <td>{{video.title}}</td>
                    <td>{{video.$durationInHHMMSS}}</td>
                    <td>
                        <button class="btn btn-custom" ui-sref="administrateVideosEdit({id:video.id})">Edit</button>
                        <button class="btn btn-custom" ng-click="deleteVideo(video);">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>