<div class="login-state container animated fadeInDown">

    <github-fork-me-component></github-fork-me-component>

    <div class="container text-center">
        <form class="form-signin" data-ember-action="2">

            <h1 class="login-title">NDC Video gallery</h1>

            <div class="login-input-wrapper">
                <span class="icon-user"></span><input class="form-control login-input" placeholder="Username"
                                                      type="text" ng-model="username">
                <span class="icon-lock"></span><input class="form-control login-input" placeholder="Password"
                                                      type="password" ng-model="password">
            </div>

            <button class="btn btn-lg btn-primary btn-block btn-center" type="submit"
                    ng-click="login(username, password)">Sign in
            </button>

        </form>
        <a ui-sref="forgot-password" class="forgot-password">I forgot my password, what do I do?</a>

        <p class="powered">Developed by <a href="http://www.sockless.no">Sockless</a></p>

        <br>
        <small class="create-account text-muted">
            Contribute to the application?
            <a href="https://github.com/kennethlynne/ndcvideos.com">https://github.com/kennethlynne/ndcvideos.com</a>
            send a PR!
        </small>

    </div>

</div>