<div class="user-state container">

    <div class="row">
        <div class="col-lg-12">

        	<h1 class="page-header">
                User settings
            </h1>
        	
        	<form novalidate name="newUserForm" class="form-inline">
                <div class="row">
                    <div class="col-lg-12">
                        <input class="form-control" type="email" name="userName" ng-model="user.email" placeholder="User email .." required/>
                    </div>
                </div>
                <button class="btn btn-default" ng-click="">Save</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-default" ng-click="logout()">Sign out</button>
        </div>
    </div>

</div>