.video-list-item-component {
  margin-top: 10px;
  margin-bottom: 10px;

  .wrapper {
    background: #222;

    .thumbnail-wrapper {
      position: relative;
      overflow: hidden;
      height: 0;
      padding-bottom: 100%;
      background-size: cover;
      background-position: center;
    }

    .meta {
      padding: 10px;
      height: 160px;
      overflow: hidden;
    }
  }
}
