.video-list-item-component {
    padding: $content-gutter / 2;
    position: relative;
    display: inline-block;

    @include media($desktop) {
        @include span-columns(4); 
        @include omega(3);
    }

    @include media($bigdesktop) {
        @include span-columns(3); 
        @include omega(4);
    }

    @include media($tablet) {
        @include span-columns(2);   
        padding: $content-gutter / 2;

        &:nth-child(4) {
            @include omega;
        }

        &:last-child {
            @include omega;
        }
    }

    @include media($phone) {
        @include span-columns(4);   
        padding: $content-gutter / 2;

        &:nth-child(4) {
            @include omega;
        }

        &:last-child {
            @include omega;
        }
    }

	.video-wrapper {
        padding-top: 5px;
        width: 100%;

        &:before {
            content: "";
            position: absolute;
            bottom: $content-gutter / 2;
            left: $content-gutter / 2;
            right: $content-gutter / 2;
            background: url(/assets/images/content-gradient.png) top left repeat-x;
            min-height: 100px;
            z-index: 60;
        }

        &:last-child {
            @include omega;
        }

        .video-info {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 15px;
            right: 50px;
            color: #fff;
            z-index: 70;

            h3 {
                margin: $content-gutter 0 0 0;
                font-size: 16px;
            }

            p {
                margin: 2px 0 0 0;
                font-size: 13px;
            }
        }

        button {
            padding: 10px;
            background: rgba(0, 0, 0, 0.5);
            border: none;
            box-shadow: none;
            color: #fff;
            position: absolute;
            font-size: 14px;
            outline: none;
            text-align: center;
            z-index: 80;
          
            &.favorite {
                right: $content-gutter / 2 - 1;
                bottom: $content-gutter / 2 - 1;
            }

            &.info {
                bottom: $content-gutter / 2;
                right: 40px;
            }

            &:hover {
                i {
                    color: #fff;
                }
            }

            i.fa-star {
                color: $primary-color;
            }
        }

        .progress-wrapper {
            height: 5px;
            position: absolute;
            top: $content-gutter / 2;
            left: $content-gutter / 2;
            right: $content-gutter / 2;
            background: rgba(255, 255, 255, 1);
            z-index: 100;

            .progress-bar {
                height: 5px;
                position: absolute;
                top: 0;
                left: 0px;
                background: $primary-color;
            }
        }

        .video {
            background: rgba(0, 0, 0, 0.4);
            position: relative;
            width: 100%;

            img {
                width: 100%;
                height: auto;
                z-index: 50;
            }
        }
    }
}
