.video-list-item-component {
  margin-top: 10px;
  margin-bottom: 10px;

  &:nth-child(4n + 1) {
    clear: left;
  }

  .wrapper {
    // background: #222;

    .thumbnail-wrapper {
      position: relative;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      padding-bottom: 56%;
      height: 0;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background: rgba(0, 0, 0, 0.3);
      }

      .length {
        position: absolute;
        bottom: 20px;
        left: 0px;
        padding: 3px 7px 3px 7px;
        background: $primary-color;
        color: #fff;
        font-size: 11px;
        font-weight: 400;
      }
    }

    .meta {
      color: #222;

      h3 {
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 1.1em;
        line-height: 1.35em;
        font-weight: 700;
      }

    }
  }
}
