.video-list-item-component {
  margin-top: 10px;
  margin-bottom: 20px;

  @for $i from 0 through 50 {
    &:nth-child(#{$i}) {
      @include transition(all 200ms ease-in-out #{(70*$i)}ms);

      &.ng-leave,
      &.ng-leave-active,
      &.ng-enter { 
        opacity: 0;
      } 
       
      &.ng-enter.ng-enter-active {
        opacity: 1;
      }
    }
  }

  .wrapper {

    .thumbnail-wrapper {
      position: relative;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      padding-bottom: 56%;
      height: 0;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .length {
        position: absolute;
        bottom: 20px;
        left: 0px;
        padding: 3px 7px 3px 7px;
        background: $primary-color;
        color: #fff;
        font-size: 11px;
        font-weight: 400;
        -webkit-transition: all 100ms ease-in-out;
        -moz-transition: all 100ms ease-in-out;
        -o-transition: all 100ms ease-in-out;
        transition: all 100ms ease-in-out;

        @media (min-width: $screen-md) {
          // background: rgba(0, 0, 0, 0.7);
        }
      }
    }

    .meta {
      @include clearfix;
      color: #222;
      height: 170px;
      background: #f2f2f2;
      padding: 20px;
      position: relative;
      overflow: hidden;
      -webkit-transition: all 300ms ease-in-out;
      -moz-transition: all 300ms ease-in-out;
      -o-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;

      @media (max-width: $screen-tablet) {
        height: auto;
      }

      h3 {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 1.1em;
        line-height: 1.35em;
        font-weight: 700;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          width: 100%;
          top: -3px;
          border-top: 3px solid $primary-color;
          z-index: 1;
          -webkit-transition: all 200ms ease-in-out;
          -moz-transition: all 200ms ease-in-out;
          -o-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
        }
      }

    }
  }

  @media (min-width: $screen-md) {
    &:hover {
      .wrapper {
        .meta {
          // background: #ddd;
        }

        h3 {
          &:before {
            top: 0 !important;
          }
        }

        .length {
          background: $primary-color;
        }
      }
    }
  }
}
