<div class="video-list-item-component">
    <div class="video-wrapper" ui-sref="videoDetails({id: video.id})">
        <!--
        <div class="progress-wrapper">
            <div class="progress-bar"style="width: 38%;"></div>
        </div>
        -->
        <div class="video" style="background-image: url({{video.thumbnail_large || 'assets/images/video-placeholder.png'}});">
            <img ng-src="assets/images/16-9.jpg" alt="" class="ratio">
            <div class="video-info">
                <h3>{{video.title}}</h3>
                <p>{{video.description|limitTo:70}}...</p>
                <span class="length">24:14</span>
            </div>
        </div>

        <!--
        <button class="favorite has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Set favorite"><i class="fa fa-star-o"></i></button>
        -->
    </div>
</div>