<div class="video-list-item-component">
    <div class="video-wrapper">
        <div class="progress-wrapper">
            <div class="progress-bar"style="width: 38%;"></div>
        </div>
        <div class="video">
            <a ui-sref="videoDetails({id: video.id})">
                <img ng-src="{{video.thumbnailUrl || 'assets/images/video-placeholder.png'}}" alt="">
                <div class="video-info">
                    <h3>{{video.title}}</h3>
                    <p>{{video.description|limitTo:35}}...</p>
                </div>
            </a>
        </div>
        <button class="favorite has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Set favorite"><i class="fa fa-star-o"></i></button>
    </div>
</div>