<div class="import-modal-state modal-view">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()">&times;</button>
                <h4 class="modal-title">Import video</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-12">

                        <label>Video title</label>
                        <input type="text" class="form-control" value="This is the title taken from Vimeo">

                        <label>Video description</label>
                        <input type="text" class="form-control" value="This is the description taken from Vimeo">

                        <label>Add tags to your video</label>

                        <div class="tags-wrapper no-style">
                            <input type="hidden" class="" ui-select2="select2Options" ng-model="tags"
                                   placeholder="Add tags to filter videos ..">
                        </div>

                        <hr/>

                        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                        <button class="btn btn-default" ng-click="publish()">Publish video</button>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <slideout-backdrop-component></slideout-backdrop-component>

</div>