.reset-password-state  {

	padding-top: 120px;
  background: #ddd;
  padding-bottom: 180px;
  border-radius: 0 0 10px 10px;
  width: 100%;
  height: 100%;
  text-align: center;

  p.link {
    font-weight: 400;    
    color: #aaa;
    margin-top: 20px;
    font-size: 1.2em;

    a {
      &:hover {
        color: $primary-color;
      }
    }
  }

  @media (min-width: $screen-tablet) {
    position: absolute;
  }

  @media (max-width: $screen-sm) {
    padding: 0;
    padding-top: 30px;
    border-radius: 0 0 0 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .container {
    width: 440px;
    margin: 0 auto;
    // border: 2px solid #aaa;
    border-radius: 10px;
    padding: 10px 50px 50px 50px;
    background: #333;

    @media (max-width: $screen-sm) {
      width: 100%;
      margin: 0;
      padding: 0;
      border-radius: 0;
      padding: 30px 20px 60px 20px;
    }
  }

  h1 {
    margin: 3px 0 23px 0;
    padding: 0;
    color: #444;
    font-size: 30px;
    font-weight: 800;
  }

  & > p {
  	font-size: 16px;
  	margin-bottom: 40px;
  	font-weight: 300;
  }

  h2 {
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0 0 0;
    color: #ddd;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }

  .forgot-input-wrapper {
    position: relative;

    input[type="text"], input[type="password"] {
      border: none;
      box-shadow: none;
      padding-left: 45px;
      color: #444;
      font-weight: 300;
      font-family: "Roboto";
    }

    input[type="password"] {
      border-top: 1px solid #ddd;
    }

    span {
      &.icon-user, &.icon-question , &.icon-lock {
        display: inline-block;
        position: absolute;
        left: 15px;
        top: 10px;
        font-size: 18px;
        z-index: 10;
        color: #444;
      }

      &.icon-lock {
        top: 51px;
      }
    }
  }

  .btn {
    width: 100%;
    margin-top: 20px !important;
    background: $primary-color !important;
    border: none !important;
    letter-spacing: 1px;
    font-weight: 300;
  }

  .form-forgot {
    max-width: 330px;
    padding: 15px;
    padding-top: 30px;
    margin: 0 auto;

    @media (max-width: $screen-sm) {
      max-width: 500px;
    }
  }

  .forgot-input {
    border-radius: 0;
  }

  .forgot-input-wrapper {

    .forgot-input:first-of-type {
      margin-bottom: -1px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    .forgot-input:last-of-type {
      margin-bottom: 10px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  .signup-input {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .signup-input-confirm {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .create-account {
    text-align: center;
    width: 100%;
    display: block;
  }

  .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .btn-center {
    // width: 50%;
    text-align: center;
    margin: inherit;
  }

}
