<div class="reset-password-state container">

    <div class="animated fadeInDown">
        <h1>Mail sent</h1>
        <p>Check your email inbox for details.</p>

        <div class="container text-center">
            <form class="form-signin">

                <h2>What is the confirmation token?</h2>

                <div class="forgot-input-wrapper">
                    <span class="icon-question"></span><input class="form-control forgot-input" placeholder="Token" type="text" ng-model="token">
                    <span class="icon-lock"></span><input class="form-control forgot-input" placeholder="New password" type="password" ng-model="password">
                </div>

                <button class="btn btn-lg btn-primary btn-block btn-center" type="submit" ng-click="verify()">Use this password</button>

            </form>
        </div>
    </div>

</div>