.panel-list-item-component {
  font-weight: 300;
  font-size: 1em;
  color: #ddd;
  margin-bottom: 15px;
  padding: {
    top: 7px;
    bottom: 5px;
  }
  box-shadow: inset 0 0 0 0 $primary-color;

  @media (max-width: $screen-sm) {
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
  }

  p.title {
    margin: 0;
  }

  &.active {
    background: lighten($sidebar-background, 5);
    box-shadow: inset 3px 0 0 0 $primary-color;
    @include transition(all 200ms ease-in-out 200ms);

    @media (max-width: $screen-tablet) {
      box-shadow: inset 0 -3px 0 0 $primary-color;
    }
  }

  span {
    font-size: 20px;
    margin-bottom: 6px;
  }

  @media (min-width: $screen-md) {
    span, p {
      opacity: 0.5;
      @include transition(all 100ms ease-in-out);
    }
    &.active span, &.active p {
      opacity: 1;
    }
    &:hover {
      span, p {
        opacity: 1;
      }
    }
  }
}
