.panel-list-item-component {
  font-weight: 300;
  font-size: 1em;
  color: #ddd;
  margin-bottom: 15px;
  padding: {
    top: 7px;
    bottom: 5px;
  }

  @media (max-width: 768px) {
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
  }

  p.title {
    margin: 0;
  }

  &.active {
    background: lighten($sidebar-background, 5);
    box-shadow: inset 3px 0 0 0 $primary-color;
  }

  span {
    font-size: 20px;
    margin-bottom: 6px;

    @media (max-width: 768px) {

    }
  }
}
