.agenda-page  {
	@include clearfix;
  	padding: 0 $content-gutter 0 $content-gutter;

  	h2 {
  		margin: $content-gutter 0;
  		padding: 0;
  		font-size: 30px;
  		text-transform: uppercase;
  		font-weight: bold;

  		small {
			color: $leftnav-background;
			margin-bottom: 5px;
			opacity: 1;
			font-size: 0.7em;
		}
  	}

  	p.break {
  		float: left;
  	}

	h3 {
		font-size: 18px;
		padding: ($content-gutter / 2) 0 $content-gutter/2 0;
		margin: ($content-gutter / 2) 0 ($content-gutter / 2) 0;
		// color: $dark-color;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		@include span-columns(12);

		i.fa {
			color: $primary-color;
			margin-right: 2px;
		}
	}

	.track-wrapper {
		@include span-columns(2);
		@include clearfix;
		// background: $leftnav-background;
		// margin: ($content-gutter/2) ($content-gutter/2) ($content-gutter/2) 0;
		padding: ($content-gutter / 2) $content-gutter $content-gutter 0;
		// overflow-x: auto !important;
		// overflow-y: hidden;
		// white-space: nowrap;

		@include media($tablet) {
			@include span-columns(4 of 12);
			@include omega(3);
		}

		@include media($phone) {
			@include span-columns(2);
			@include omega(2);
		}

		a {
			color: inherit;
			text-decoration: none;
		}

		.element {
			@include clearfix;

			&.inactive {
				opacity: 0.3;
				cursor: not-allowed;
			}

			.video {
				background: url(../assets/images/16-9.jpg) no-repeat center center;
		        -webkit-background-size: cover;
		        -moz-background-size: cover;
		        -o-background-size: cover;
		        background-size: cover;
		        margin-bottom: $content-gutter / 2;
		        display: inline-block;
		        width: 100%;

		        img {
					width: 100%;
					height: auto;
					opacity: 0;
				}
			}

			h4 {
				padding: 0 0 0 0;
				margin: 0;
				font-size: 12px;
				text-transform: uppercase;

				small {
					color: $leftnav-background;
					display: block;
					margin-bottom: 5px;
				}
			}

			p {
				margin: 5px 0 0 0;
				font-size: 13px;
			}
		}
	}
}
