.agenda-page  {
	padding: 0 $content-gutter;

	header.headers {
		@include row;

		.column {
			display: table;
			background: none;
			border: none;
			padding: 10px 10px 20px 10px;

			h2 {
				display: table-cell;
				vertical-align: bottom;
				margin: 0;
				font-size: 1.2em;

				small {
					display: block;
					font-size: 0.7em;
					opacity: 0.6;
				}
			}
		}
	}

	.column {
		@include span-columns(1.5);
		background: none;
		padding: 10px;

		&:nth-child(even) {
			background: none;
		}

		.time {
			h3 {
				margin: 0 0 10px 0;
				padding: 5px 0;
				border-bottom: 3px solid #aaa;
			}
		}

		.element {
			opacity: 1;

			&.filtered-inactive.chosen {
				opacity: 0.2;
			}

			.video {
				width: 100%;
				background: #ccc;
				height: 100px;
				margin: 10px 0;
				border: 1px solid #aaa;
			}

			p {
				font-size: 0.8em;
			}

			ul.tags {
				list-style: none;
				padding: 0;

				li {
					display: inline-block;
					font-size: 0.8em;
					padding: 3px 4px;
					background: $green;
					color: #fff;
					margin-bottom: 4px;
				}
			}
		}
	}
}
