@import 'animations';

aside {
  @include media($tablet) {
    position: relative;
  }

  &.navbar-component {
    position: fixed;
    box-shadow: inset 0px -40px 20px rgba(0, 0, 0, 0.1);
    // padding: $content-gutter;
    color: #fff;
    overflow-y: auto !important;
    overflow-x: hidden;
    width: $leftnav-width;
    background: $leftnav-background;
    left: 0;
    top: 0;
    bottom: 0;
    padding-bottom: (($leftnav-width / 16) * 9) + 60;

    @include media($tablet) {
      position: relative;
      // height: 60px;
      overflow: hidden;
      width: 100%;
      padding-bottom: 25px;
      box-shadow: none;
      background: $dark-color;
    }

    @include media($phone) {
      position: relative;
      // height: 60px;
      overflow: hidden;
      width: 100%;
      padding-bottom: 25px;
    }

    .ng-enter, .ng-leave {
      .navigation {
        li {
          &.active {
            &:after {
              $duration: 1000;
              -webkit-transition: -webkit-transform ease $duration, opacity $duration;
              -moz-transition: -moz-transform ease $duration, opacity $duration;
              -ms-transition: -ms-transform ease $duration, opacity $duration;
              -o-transition: -o-transform ease $duration, opacity $duration;
              transition: transform ease $duration, opacity $duration;
            }
          }
        }
      }
    }

    .powered {
      height: 45px;
      width: $leftnav-width;
      background: $dark-color;
      text-align: center;
      padding: 7px 15px;
      position: fixed;
      left: 0;
      bottom: 0;
      z-index: 10;

      @include media($tablet) {
        display: none;
      }

      p {
        font-size: 11px;
        color: #777;

        a {
          color: #aaa;
          text-decoration: none;
        }
      }
    }

    h2 {
      margin: 10px 0 5px 0;
      font-size: 11px;
      color: #fff;
      text-transform: uppercase;
    }

    .responsive-toggler {
      display: none;
    }

    .responsive-wrapper {
      &,
      &.open {
        display: block;
      }
    }

    @include media($tablet) {
      .responsive-toggler-wrapper {
        @include row;
        padding: $content-gutter $content-gutter 0 $content-gutter;

        .responsive-toggler {
          display: block;
          height: 40px;
          width: 40px;
          background: $dark-color;
          border: none;
          box-shadow: none;
          color: #fff;
          font-size: 1em;
          position: relative;
          float: right;
        }
      }

      .responsive-wrapper {
        display: none;

        &.open {
          display: block;
          margin-top: 20px;
          padding-bottom: 15px;
        }
      }
    }

    .toggle-wrapper {
      padding: 0 $content-gutter;
      &.navigation-wrapper {
        display: block;
      }

      &.notifications-wrapper {
        .notifications {
          list-style: none;
          padding: 0;
          margin: 0;
          color: #fff;

          li {
            padding-bottom: $content-gutter;
            margin-bottom: $content-gutter;
            border-bottom: 2px solid rgba(255, 255, 255, 0.1);

            &:last-child {
              border-bottom: 0;
              margin-bottom: 0;
              padding-bottom: 0;
            }

            p {
              font-size: 0.8em;
              margin: 0;

              small {
                display: block;
                opacity: 0.6;
                margin-top: 4px;
              }
            }
          }
        }
      }

      &.settings-wrapper {
        button.signout {
          // float: left;
          // height: 30px;
          // width: 40px;
          background: $dark-color;
          margin: 0 0 30px 0;
          border: none;
          box-shadow: none;
          color: #fff;
          font-size: 12px;
          position: relative;
          vertical-align: top;
          padding: 10px;
          width: 100%;

          i {
            margin-right: 5px;
            color: $primary-color;
          }
        }

        input[type="text"],
        input[type="password"] {
          padding: 5px;
          font: inherit;
          font-size: 12px;
          border: none;
          outline: none;
          box-shadow: none;
          margin-bottom: 20px;
          width: 100%;
        }

        h2 {
          margin-top: 0px;
        }
      }
    }

    header.actionbar {
      @include row;
      // right: $rightnav-width;
      margin: 0 0 ($content-gutter * 2) 0;
      // border-bottom: 2px solid rgba(255, 255, 255, 0.1);
      padding: $content-gutter;
      background: $dark-color;

      @include media($tablet) {
        background: $leftnav-background;
        padding: 0;
      }

      button {
        float: left;
        height: 30px;
        width: 40px;
        background: $dark-color;
        background: none;
        margin: 0 10px 0 0;
        border: none;
        box-shadow: none;
        color: #fff;
        font-size: 1em;
        position: relative;

        @include media($tablet) {
          width: 25%;
          height: 70px;
          margin: 0px !important;
          padding: $content-gutter 0;
        }

        span.responsive-text {
          display: none;

          @include media($tablet) {
            display: block;
            font-size: 11px;
            margin-top: 5px;
            opacity: 0.6;
          }
        }

        &.active {
          @include media($tablet) {
            background: $primary-color;

            span.responsive-text {
              opacity: 1;
            }
          }

          i {
            color: $primary-color;

            @include media($tablet) {
              color: #fff;
            }
          }
        }

        .notification-count {
          position: absolute;
          bottom: 0px;
          right: -2px;
          border-radius: 50%;
          background: $red;
          font-size: 12px;
          padding: 2px 0;
          text-align: center;
          height: 18px;
          width: 18px;

          @include media($tablet) {
            bottom: auto;
            top: 11px;
            right: auto;
            left: 50%;
            margin-left: 15px;
          }
        }
      }

      .pull-right {
        button {
          margin: 0 0 0 10px;
        }

        @include media($tablet) {
          float: none;
        }
      }
    }

    h1 {
      font-size: 20px;
      margin: 3px 0 0 0;
      float: left;

      @include media($tablet) {
        float: none;
        position: absolute;
        top: 25px;
        font-size: 24px;
      }

      a {
        color: inherit;
        text-decoration: none;
      }

      small {
        font-size: 13px;
        line-height: 16px;
        display: block;
        margin-left: 3px;
        margin-top: 15px;
        // margin-bottom: $content-gutter + 5;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.7);
        font-weight: normal;
        // border-bottom: 2px solid rgba(255, 255, 255, 0.6);
        // padding-bottom: $content-gutter / 2;
      }

      @include media($tablet) {
        h1 {
          opacity: 0.7;
          margin-left: -3px;
          border: none;
          padding-top: 0;

          small {
            border: none;
            padding-bottom: 0;
          }
        }
      }
    }

    .logo {
      width: 100%;
      margin-bottom: $content-gutter;

      img {
        width: 100%;
        height: auto;
      }
    }

    ul.navigation {
      list-style: none;
      padding: 0;
      margin: 0 0 2.5em 0;

      li {
        margin-bottom: 7px;
        position: relative;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;

        @include media($tablet) {
          background: $dark-color;
          padding: 8px;
          margin-bottom: 5px;
          width: 100%;
          display: block;
        }

        &:hover {
          color: $primary-color;
        }

        &:after {
          @include triangle(20px, $body-background, left);
          opacity: 0;
          content: "";
          position: absolute;
          top: -2px;
        }

        &.active {
          @include media($desktop) {

            &:after {
              opacity: 1;
            }

          }

          a {
            color: $primary-color;
          }
        }
      }
    }

    ul.tags {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        background: $primary-color;
        font-size: 13px;
        padding: 7px 0 7px 10px;
        margin-right: 5px;

        .close {
          color: $dark-color;
          padding: 5px 10px 5px 5px;
          text-decoration: none;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }

  ul.navigation li.active:after {
    $duration: 1000ms;
    -webkit-transition: -webkit-transform ease $duration, left $duration;
    -moz-transition: -moz-transform ease $duration, left $duration;
    -ms-transition: -ms-transform ease $duration, left $duration;
    -o-transition: -o-transform ease $duration, left $duration;
    transition: transform ease $duration, left $duration;
    left: $leftnav-width - ($content-gutter * 2);
  }

  .ng-enter ul.navigation li.active:after {
    left: $leftnav-width;
  }

  .ng-enter.ng-enter-active ul.navigation li.active:after {
    left: $leftnav-width - ($content-gutter * 2);
  }

  .ng-leave ul.navigation li.active:after {
    $duration: 200ms;
    -webkit-transition: -webkit-transform ease $duration;
    -moz-transition: -moz-transform ease $duration;
    -ms-transition: -ms-transform ease $duration;
    -o-transition: -o-transform ease $duration;
    transition: transform ease $duration;
  }

  .ng-leave.ng-leave-active ul.navigation li.active:after {
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);
    transform: translateX(50px);
  }

}

.select2-drop,
.select2-drop-active {
  border: none !important;
  margin-top: -40px;

  * {
    box-shadow: none !important;
  }
}

.nav-change-animation {
  @include media($desktop) {
    &.ng-enter, &.ng-leave {
      $duration: 400ms;
      -webkit-transition: -webkit-transform ease $duration, opacity $duration;
      -moz-transition: -moz-transform ease $duration, opacity $duration;
      -ms-transition: -ms-transform ease $duration, opacity $duration;
      -o-transition: -o-transform ease $duration, opacity $duration;
      transition: transform ease $duration, opacity $duration;

      position: absolute;
      top: 0;
      left: 0;
      display: block;
    }

    &.ng-leave {
      $duration: 100ms;
      -webkit-transition: -webkit-transform ease $duration, opacity $duration;
      -moz-transition: -moz-transform ease $duration, opacity $duration;
      -ms-transition: -ms-transform ease $duration, opacity $duration;
      -o-transition: -o-transform ease $duration, opacity $duration;
      transition: transform ease $duration, opacity $duration;
    }

    &.ng-enter {
      -webkit-transform: translateX(20px);
      -moz-transform: translateX(20px);
      -ms-transform: translateX(20px);
      -o-transform: translateX(20px);
      transform: translateX(20px);
      opacity: 0;

      &.ng-enter-active {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
      }
    }

    &.ng-leave {
      opacity: 1;
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
      transform: translateX(0px);

      &.ng-leave-active {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
      }
    }
  }
}