<aside class="leftnav" ng-show="isAuthenticated()">

    <header class="actionbar">
        <button ng-show="isAuthenticated()" ng-click="signout()" class="has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Logout">
            <i class="fa fa-power-off"></i>
        </button>
        <div class="pull-right">
            <button class="toggle toggle-navigation active" ng-class="{'active': navbar.isActive('navigation')}" data-toggle="tooltip" data-placement="bottom" title="Menu" ng-click="navbar.setState('navigation')">
                <i class="fa fa-bars"></i>
            </button>
            <button class="toggle toggle-notifications" ng-class="{'active': navbar.isActive('notifications')}" data-toggle="tooltip" data-placement="bottom" title="Notifications" ng-click="navbar.setState('notifications')">
                <span class="notification-count">2</span>
                <i class="fa fa-bell"></i>
            </button>
            <button class="toggle toggle-settings" ng-class="{'active': navbar.isActive('settings')}" data-toggle="tooltip" data-placement="bottom" title="Settings" ng-click="navbar.setState('settings')">
                <i class="fa fa-gear"></i>
            </button>
        </div>
        <!-- <button class="mute-button has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Mute"><i class="fa fa-volume-up"></i></button> -->
    </header>

    <div ng-include="navbar.templateSrc"></div>

    <navbar-mini-player></navbar-mini-player>

</aside>