.index-page
{
}

//TODO: This seems to be misplaced and should go into globals
.select2-drop,
.select2-drop-active {
  margin-top: 10px !important;
  border-radius: 10px;
}

.videos {
  @include clearfix;
  padding: 0 ($content-gutter / 2);
  width: 100%;

  .search-wrapper {
    @include clearfix;
    width: 100%;
    float: left;
    padding: 3px $content-gutter/2;
    margin-bottom: 10px;
    position: relative;

    input {
      font-size: 1.5em;

      &,
      &:focus,
      &.active,
      &:active {
        background: none !important;
        background-image: none !important;
        background-color: transparent !important;
        border: none !important;
        box-shadow: none !important;
        width: auto !important;
      }
    }

    .select2-container {
      width: 100% !important;
    }

    .select2-choices {
      padding: 7px 17px;
      border-radius: 20px;
      box-shadow: none;
      float: left;
      border: none;
      font-size: 14px;
      outline: none;
      width: 100% !important;
      background: #fff;
      color: $dark-color;

      @include media($tablet) {
        width: 100%;
        margin-top: 10px;
        border-color: #fff;
        background: #fff;
      }

      input {
        background: none !important;
        border: none !important;
        box-shadow: none !important;
        width: auto !important;
      }

      .select2-search-choice {
        display: inline-block;
        background: $primary-color;
        font-size: 13px;
        padding: 7px 10px 7px 25px;
        margin: 2px 5px 3px 0;
        border: none !important;
        box-shadow: none !important;
        border-radius: 5px;

        .select2-search-choice-close {
          color: $dark-color;
          padding: 5px 10px 5px 5px;
          text-decoration: none;
          background-position: right -11px;
          left: 5px !important;
          top: 6px !important;
        }
      }
    }

  }
}