<div class="content-wrapper">
	<div class="index-page">

	    <div class="videos">

	    	<div class="search-wrapper">
	    		<!-- <input type="text" class="search-tags" placeholder="Filter videos by tags .."> -->
                <form ng-submit="search(query)">
                    <input type="text" class="searchfield" ng-model="query" ng-change="search(query)" placeholder="Search for videos..">
                </form>
            </div>
	    	<div ng-show="errormsg"><h1>{{errormsg}}</h1></div>
	        <video-list-item-component ng-repeat="video in videos" video="video"></video-list-item-component>
	    </div>

	</div>
</div>