.admin-state  {
	ul.tags {
	    list-style: none;
	    margin: 0;
	    padding: 0;

	    li {
  			display: inline-block;
  			padding: 4px 12px;
  			border: 1px solid #aaa;
  			border-radius: 10px;
  			font-size: 12px;
  			margin-right: 10px;
  			letter-spacing: 1px;
  			margin-bottom: 6px;
	    }
  	}

  	table {
  		font-size: 14px;
  		margin: 30px 0;
  		font-weight: 300;

  		tr {
  			th, td {
  				padding: 10px 0;
  			}
  		}
  	}

  	h2 {
  		font-weight: 600;
  	}

  	p {
  		font-size: 14px;
  		font-weight: 300;
  	}
}
